<template>
  <q-layout view="lHh Lpr lFf" class="shadow-2 rounded-borders">    
    <app-header/>
    <q-page-container>
      <router-view/>
    </q-page-container>
    <app-footer/>
  </q-layout>
</template>

<script>
  import appHeader from '@/views/Header'
  import appFooter from '@/views/Footer' 
  import store from '@/components/Store'
  import {mapState} from 'vuex'

  export default {    
      components: { appHeader, appFooter },

    data () {
      return {        
        
      }
    },
    store,  
    computed:{
      ...mapState([
        'logado',
        'administrador',
        'empresa'
      ])   
    },
  }
</script>

<style scooped>
  .q-page-container{
    padding-bottom: 10px;
  }
</style>
