<template>
<div>
  <h1>TESTE</h1>
    <q-page-container>
      <router-view/>
    </q-page-container>

  <!--<div id="app">
    <login
      @logado="logar"
      @administrar="administrar" 
      v-if="!logado">
    </login>
    <administrar 
      v-if="adm"
    />
    <BIs 
      v-if="logado && !adm">
    </BIs>
  </div>-->
  </div>
</template>

<script>
export default {
  data(){
    return{
      logado: false,
      adm: false,
    }
  },
  methods:{
    logar(){ this.logado = true},
    administrar(){ this.adm = true},
  },
}
</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
