<template>
 <q-page>
    <div id="administrar">
        <div>           
            <ul>Menu
                <li><router-link to="/empresa">Empresas</router-link> </li>
                <li>Usuarios</li>
                <li>BIs</li>
            </ul> 
        
        </div>

    </div>
</q-page>
</template>
<script>
    //import Empresas from './Empresas'
export default {
    
}
</script>
<style scoped>
    /* .administrar{
        font-family: "Times New Roman", Times, serif;
        font-size: 15px;
        letter-spacing: 0px;
        word-spacing: 2px;
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
     } */
    /*div{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        color: black;
        padding: 0px;
    }
    ul{
        list-style:none;
        font-weight: 700;        
        text-transform: uppercase;
    }
    li{
         font-weight: 400;
         text-transform: none;
         
    } */
</style>