<template>
    <div id="bis">
        <ul>
            <li :v-for="bi in bis">{{bi}}</li>
        </ul>
    </div>
</template>

<script>
import conexao from '../components/Conexao'
import cookies from '../components/Cookies'

export default {
    data(){
        return{
            bis : []
        }
    },
    mounted(){
        this.bis = conexao.get('/api/bixusuario', cookies.getCookie('usuario_id'))
    }
}
</script>

<style scoped>

</style>