<template>
    <div id="empresa">
        <div v-show="editando">
            <p>Nome da empresa</p>
            <input id="nome" type="text" v-model="empresa.nome">
            <p>URL da logomarca (opcional)</p>
            <input id="url" type="text" v-model="empresa.logo">
            <button @click="cadastrar">Cadastrar empresa</button>
        </div>
        
        <div>            
            <div v-for="(empresa) in listaEmpresas" v-bind:key="empresa.id">
                {{empresa.nome}},{{empresa.url}} 
                <button @click="editar(empresa)">Editar</button></div>  
            
        </div>


       
    </div>
</template>

<script>
import Conexao from '@/components/Conexao.vue'
export default {
    data(){
        return{
            listaEmpresas:[],
            empresa: {
                id:'',
                nome: '',
                logo: ''
            },
            editando: false,
        }
    },
    methods:{
        cadastrar(){            
            Conexao.post("empresa", this.empresa).then((res)=>{
                console.log("sucesso")
                console.log(res)
            }).catch((e)=>console.log(e));
        },
        buscaEmpresas(){
            Conexao.get("empresa").then((res)=>{
                var lista = JSON.parse(res)
                console.log(lista)
                this.listaEmpresas = lista.map(i=>[i.id,i.nome, i.logo])
                console.log("lista de empresas: ", this.listaEmpresas)              
            }).catch((e)=>console.log(e))
        },
        editar(empresa){
            this.editando = true; 
            document.getElementById("nome").value = empresa.nome;
            document.getElementById("url").value = empresa.url;                                  
        },
    },
    created(){
        this.buscaEmpresas()
    },    
}
</script>

<style scoped>

</style>