<template>
   <div class="q-pa-md">        
      <q-footer elevated>
        <q-toolbar class="glossy">
          <q-toolbar-title></q-toolbar-title>
        </q-toolbar>
      </q-footer> 
  </div> 
</template>

<script>
export default {
  data(){
    return{
       logo: require("@/assets/logo.png"),
    }
  }
}
</script>

<style>

</style>