<template>   
  <q-header elevated>
    <q-toolbar class="glossy">
      <q-btn flat round dense icon="menu" class="q-mr-sm" />
      <q-avatar>
        <img class="logo" :src="logo">
      </q-avatar>
      <q-toolbar-title>{{titulo}}</q-toolbar-title>          
    </q-toolbar>
  </q-header>  
</template>

<script>
import store from '@/components/Store'
export default {
  data(){
    return{
       logo: require("@/assets/logo.png"),
       titulo: store.state.empresa + " - Visualizador de BIs"
    }
  },  
}
</script>

<style scoped>
  .logo{
    width: auto
  }
</style>>
