<template>     
 <q-page class="q-pa-md">
    <div class="login"  @keyup.enter="logar(login,senha)">      
      <q-input id="usuario" filled type="text" v-model="login" label="Usuário"/>    
      <q-input v-model="senha" filled :type="isPwd ? 'password' : 'text'" label="Senha">
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
      </q-input>
      <br>   
      <q-btn @click="logar(login, senha)">Entrar</q-btn>
      <div class="erro" v-if="erro != ''">{{erro}}</div>
  </div>
 </q-page> 
</template>
<script>
import conexao from '../components/Conexao'
import cookies from '../components/Cookies'
import Store from '@/components/Store'

export default { 
  data: function(){
    return{
      isPwd: true,
      login : '',
      senha : '',      
      erro : '',       
    }
  },
  methods:{
    logar(login, senha){
      var objeto = {login,senha}
      conexao.post("login", objeto).then((res) => {
        var token = JSON.parse(res);
        console.log(token);
        cookies.setCookie("token",token.token,30);
        cookies.setCookie("usuario_id",token.CodUsuario,30);        
        Store.commit('logar');        
        this.erro = '';
        if(token.e_adm){
          Store.commit('administrar');
          this.$router.push('/administrar');          
        }else{
          this.$router.push('/Bis');   
        }                
      }).catch((e)=>this.erro = e);
    }
  }
}
</script> 
<style scoped>
  .login{
    display: flex;
    align-items: center;
    flex-direction: column;  
  } 
  .erro{
    color: red;
    border: 1px;
  }
  .q-input{    
    width: 20%;
    height: 10%;
  }
  .q-btn{
    margin: 10px;
  }
  .q-input{
    margin-bottom: 10px;
  }
</style>