<template>
    <div id="administrar">
        <div>           
            <ul>Empresas
                <li><router-link to="/empresa"> Empresa</router-link> </li>
                <li>Editar Empresa</li>
                <li>Excluir Empresa</li>
            </ul>
            <ul>Usuarios
                <li>Cadastrar usuário</li>
                <li>Editar usuário</li>
                <li>Excluir usuário</li>
            </ul>
            <ul>BIs
                <li>Cadastrar BI</li>
                <li>Editar BI</li>
                <li>Excluir BI</li>
            </ul>
        
        </div>

    </div>
</template>
<script>
    //import Empresas from './Empresas'
export default {
    
}
</script>
<style scoped>
    .administrar{
        font-family: "Times New Roman", Times, serif;
        font-size: 15px;
        letter-spacing: 0px;
        word-spacing: 2px;
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        color: black;
        padding: 0px;
    }
    ul{
        list-style:none;
        font-weight: 700;        
        text-transform: uppercase;
    }
    li{
         font-weight: 400;
         text-transform: none;
         
    }
</style>