<template>
    <div id="empresa">
        <p>Nome da empresa</p>
        <input type="text" v-bind="empresa.nome">
        <p>URL da logomarca (opcional)</p>
        <input type="text" v-bind="empresa.logo">
    </div>
</template>

<script>

export default {
    data(){
        return{
            empresa: {
                nome: '',
                logo: ''
            }
        }
    },
    methods:{
        cadastrar(){

        }
    }
}
</script>

<style scoped>

</style>