<template>
  <div class="login">
    <p>Login</p>
    <input id="usuario" type="text" v-model="login">
    <p>Senha</p>
    <input id="senha" type="password" v-model="senha">
    <br>   
    <button @click="logar(login, senha)">Login</button>
    <div class="erro" v-if="erro != ''">{{erro}}</div>
  </div>
  
</template>
<script>
import conexao from '../components/Conexao'
import cookies from '../components/Cookies'
export default { 
  data: function(){
    return{
      login : '',
      senha : '',      
      erro : '',     
    }
  },
  methods:{
    logar(login, senha){
      var objeto = {login,senha}
      conexao.post("login", objeto).then((res) => {
        var token = JSON.parse(res);
        console.log(token);
        cookies.setCookie("token",token.token,30);
        cookies.setCookie("usuario_id",token.CodUsuario,30);        
        this.$emit('logado');
        this.erro = '';
        if(token.e_adm){
          this.$emit('administrar');
        }
        //this.$router.push({ name: 'login', query: { redirect: '/home' } });           
        this.$router.push('/Bis');           
      }).catch((e)=>this.erro = e);
    }
  }
}
</script> 
<style scoped>
  div{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
  }
  button{
    border-radius: 10px;
  }
  .erro{
    color: red;
    border: 1px;
  }
</style>